/* insert Google font */
@import url('https://fonts.googleapis.com/css2?family=Handjet&family=Press+Start+2P&display=swap');

/* name of GG font
font-family: 'Handjet', cursive;
font-family: 'Press Start 2P', cursive;
*/

body {
  text-align: center;
  background-color: #011F3F;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 3rem;
  margin:  2.5%;
  color: #FEF2BF;
  line-height: 70px;
  margin-bottom: 15px;
}

/* Style for the popup box */
.popup {
  padding: 50px;
  font-size: 1.5rem;
  display: none; /* Hide the popup initially */
  position: fixed; /* Position the popup */
  top: 50%; /* Center the popup vertically */
  left: 50%; /* Center the popup horizontally */
  transform: translate(-50%, -50%); /* Use transform to center the popup precisely */
  background-color: #f9f9f9; /* Set the background color */
  padding: 20px; /* Add some padding */
  border: 1px solid #ccc; /* Add a border */
  border-radius: 10px; /* Add rounded corners */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Add a shadow */
  z-index: 9999; /* Set a high z-index to make sure the popup appears on top of other elements */
  text-align: left;
  font-family: 'Handjet', cursive;
  line-height: 1;
}
.popup h1{
  text-align: center;
  color: red;
}

.popup-container{
  width: 85%;
  margin: 0 auto;
}

/* Style for the rock button */
.popup-btn {
  font-family: 'Handjet', cursive;
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 18px;
  background-color: navy; /* Set the background color */
  color: #fff; /* Set the text color */
  border: none; /* Remove the border */
  border-radius: 5px; /* Add rounded corners */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.container {
  display: block;
  width: 50%;
  margin: auto;
}

.btn {
  margin: 8px;
  display: inline-block;
  height: 180px;
  width: 180px;
  border: 10px solid black;
  border-radius: 20%;
}

#start{
  margin-top: 30px;
  border-radius: 10px;
  display: inline-block;
  height: 40px;
  width: 100px;
  font-size: 0.8rem;
  font-family: 'Press Start 2P', cursive;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
.invisible{
  visibility: hidden;
}

@media screen and (max-width: 800px) {
  #level-title {
    font-size: 1.5rem;
    margin:  20px;
    color: #FEF2BF;
    line-height: 40px;
  }
  .btn {
    margin: 5px;
    height: 100px;
    width: 100px;
    border: 5px solid black;
  }
}
@media screen and (max-width: 800px){
  .btn {
    margin: 5px;
    height: 70px;
    width: 70px;
    border: 3px solid black;
  }
}
